{
  "extends": [
  "rallycoding"
  ],
   "globals": {
    "fetch": false
  },
  "rules": {
    "react/jsx-curly-spacing": [2, {"when": "never", "allowMultiline": false, "spacing": {"objectLiterals": "always"}}],
    "arrow-body-style": 0,
     no-underscore-dangle: ["error", { "allowAfterThis": true }],
     "react/sort-comp": [0],
     "no-else-return": 0,
     "quotes": ["error", "double"]
    }
}
